@media only screen and (min-width: 1600px) {
    #sidebar-ul {
        width: 3%;
    }
}

@media only screen and(max-width: 1300px) {
    #sidebar-ul:hover {
        width: 23%;
    }
}

@media only screen and (max-width: 992px) {

    /* Sidebar */
    #sidebar-ul {
        height: 10vh;
        border-radius: 0;
        padding-top: 5px;
        width: 100%;
        flex-direction: row;
        position: relative;
    }

    #sidebar-ul:hover {
        width: 100%;
    }

    #sidebar-ul li a span {
        display: none;
    }

    .login-wrap {
        width: 350px;
    }

    .button {
        padding: 5px 30px;
    }

    .login-wrap input {
        padding: 6px 15px;
    }

    .summaries {
        flex-direction: column;
        align-items: center;
    }

    .settings-section {
        margin-bottom: 50px;
    }

    .setting-form-wrap {
        width: 50%;
    }

    .setting-form-wrap .newCourseForm button {
        width: 65%;
    }
}

@media only screen and (max-width: 767px) {
    .setting-form-wrap {
        width: 65%;
    }

    .button {
        padding: 5px 7px;
    }

    .login-wrap .button {
        padding: 5px 30px;
    }

    .setting-form-wrap {
        width: 82%;
    }

    .single-article-details {
        width: 100%;
    }

    .course_wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 580px) {
    .profile-text {
        font-size: 15px;
    }

    .profile-details {
        justify-content: start;
    }

    #sidebar-ul {
        width: 130%;
        overflow-x: scroll;
    }
}

@media only screen and (max-width: 450px) {
    h1 {
        font-size: 23px;
    }

    .login-wrap {
        width: 260px;
    }

}

@media only screen and (max-width: 350px) {
    h1 {
        font-size: 20px;
    }

    #sidebar-ul {
        width: 160%;
    }

    .login-wrap {
        width: 220px;
    }
}