/* General styling */

body {
  background-color: #f9fafc;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #000;
}

.section-title,
#main {
  margin-top: 100px;
}

.button {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 13px 20px;
  transition: all, 0.3s;
}

.button:hover {
  border-radius: 40px;
}

button:focus:not(:focus-visible) {
  box-shadow: none;
}

/* Dashboard */

.summaries {
  display: flex;
  gap: 50px;
  padding: 50px 0;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 40px;
  background-color: #fff;
  justify-content: space-evenly;
  transition: all, 0.3s;
}

.profile-pic {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  width: 60px;
  height: 60px;
}

.profile-pic img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.profile-text {
  font-size: 20px;
}

.profile-year {
  font-size: 13px;
}

.gpa_summary_content,
.semester_summary_content {
  top: calc(100% - 73%);
  left: calc(100% - 70%);
}

.semester_page_summary_content {
  top: calc(100% - 65%);
  left: calc(100% - 89%);
}

.summary_content h2 {
  font-size: 20px;
}

.summary_content p {
  font-size: 35px;
  margin: 0;
}

.semester_page_summary_content p {
  font-size: 20px;
  margin: 0;
}

.event_wrap {
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 17px;
}

.dashboard-section {
  margin-bottom: 50px;
}

.greetings-message {
  font-size: 30px;
}

.summary-text {
  font-size: 25px;
}

#dashboard_single_course {
  padding: 0px 30px;
  width: 100%;
  min-height: 200px;
  border-radius: 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: all, 0.3s;
}

#dashboard_single_course:hover,
.summaries:hover {
  box-shadow: 1px 1px 15px;

}

/* Articles */
.article-wrap h2 {
  font-size: 17px;
}

.article-wrap p {
  font-size: 14px;
}

.article-wrap {
  margin-bottom: 30px;
  cursor: pointer;
  background: #fff;
  color: #000;
  padding: 10px;
  border-radius: 10px;
}

/* Sidebar */

.right-sidebar {
  background: #fff;
}

#sidebar-ul {
  background: #1c1d1f;
  height: 100vh;
  list-style: none;
  padding-top: 50px;
  width: 5%;
  overflow: hidden;
  padding-left: 5px;
  border-radius: 0 40px 40px 0;
  transition: all, 0.3s;
  z-index: 999;
}

#sidebar-ul:hover {
  width: 17%;
}

#sidebar-ul li {
  font-size: 30px;
  margin-bottom: 30px;
  padding: 5px 10px;
  cursor: pointer;
}

#sidebar-ul li a {
  display: inline-flex;
  width: 100%;
  color: #f9fafc;
  height: 100%;
}

/* Semester page */
.taught-p {
  font-size: 15px;
}

.semester-page-courses {
  margin-top: 100px;
}

.form-wrap {
  margin-top: 50px;
}

.grade-span {
  font-size: 25px;
}

.newCourseForm input {
  margin-bottom: 20px;
  width: 100%;
  padding: 0 10px;
  border-radius: 15px;
  border: 1px solid #000;
}

.newCourseForm input {
  height: 60px;
}

#semester-select {
  background: transparent;
  padding: 10px 20px;
  border-radius: 10px;
}

/* Events page */
.event-date {
  background-color: #1976d2;
  border-radius: 20px;
  color: #fff;
  padding: 10px;
  width: 150px;
}

/* Responsive */
@media only screen and (min-width: 1600px) {
  #sidebar-ul {
    width: 3%;
  }
}